/* Global css */



*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}






/* Head-section */

header{
  border-bottom: 3px solid #CCCCCC;
  width: 100%;
  padding: 10px 0;
}
.nav-bar{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 10%;
}

.logo img{
  width: 100%;
}

.menu{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu li{
  display: inline-block;
  list-style-type: none;
}
.menu li a{
  text-decoration: none;
  color: #0F2656; 
  font-size: 16px;
}
.menu li a:hover{
  color: #F15767;
  transition: 0.25s;
}


/* Head-end */




/* banner-section-start */

.banner{
  width: 100%;
}

.container-b{
  width: 55%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.container-b h1{
  font-size: 50px;
  font-weight: 700;
  color:  #0F2656;

}

.container-b h2{
  font-size: 50px;
  font-weight: 700;
  color:#008AFF;
  margin-top: 15px;

}

.container-b p{
  font-size: 16px;
  font-weight: 400;
  color: #0F2656;
  word-spacing: 2px;
  margin: 20px 0;
  line-height: 25px; 
}
.banner-img{
  width: 70%;
  margin: 0 auto;
}
.banner-img img{
  width: 100%;
}

/* banner-section-end */



/* achievment-section-start */

.achievment{
  width: 55%;
  margin: 0 auto;
  display: flex;
  text-align:left;
  justify-content: space-around;
  padding: 60px 0;  
}
.left{
  width: 45%;
  text-align: end;
}
.left h2{
  font-size: 40px;
  font-weight: 700;
  color: #F15767;
  margin-bottom:10px ;
}
.left p{
  font-size: 16px;
  font-weight: 400;
  color:#0F2656;
  line-height: 25px;
}
.right{
  width: 45%;
  text-align: start;
}
.right h2{
  font-size: 40px;
  color:#0F2656;
  font-weight: 700;
}

/* achievment-section-end */





/* service-section-start */

.service {
  width: 80%;
  margin:10px auto 60px auto ;
  display: flex;
  justify-content: space-around; 
}
.service-container {
  width: 30%;
  text-align: left;
}
.service-container:nth-child(1){
  background-color: #FDEBED;
}
.service-container:nth-child(2){
  background-color: #EBF9F4;
}
.service-container:nth-child(3){
  background-color: #FFF7E8;
}
.service-container img{
  width: 100%;
}
.service-content{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.service-container h2{
  color: #0F2656;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.service-container p{
  color: #0F2656;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-top: 15px;
}

/* service-section-end */






/* footer-start */

.footer{
  background-color: #008AFF;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  margin-top: 10px;

}

.footer p{
  color: #60C1FF;
  font-size: 16px;
  font-weight: 400;
}
.footer a{
  font-weight: 700;
  color: white;
  font-size: 18px;
  text-decoration: none;

}


/* footer-end */