*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Roboto;
}

/*Start*/

.start{
  border-bottom: 2px solid #CCCCCC ;
}
.nav-bar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

.logo {
  width: 8%;
}

.logo a img{
  width: 100%;
}

.nav-content {
  list-style: none;
  width:30%;

}

.nav-content li{
 display: flex;
 justify-content: space-between;
 margin-top: 20px;


}

.nav-content li ul a{
  text-decoration: none;
  font-size: 16px;
  color:#394C73;
  font-weight: 300;
}


/*Main-section*/

.main-section {
  width: 50%;
  margin: 0 auto;

}

.container-a {
  text-align: center;
  padding-top: 30px;
}

.container-a h1{
  font-size: 50px;
  color: #0F2656;
  letter-spacing: 2px;
}

.container-a h1:nth-child(2){
  color: #008AFF;
}

.container-a p{
  margin: 20px 0;
  color: #ADC0C8;
  font-weight: 300;
  color: #0F2656;
  font-size: 12px;
  letter-spacing: 1px;
}

.container-b {
  display: flex;
  margin: 60px 0;
}

.left {
  width: 50%;
  text-align: right;
}
.left h2{
  font-size: 40px;
  color: #F15767;
}

.left p{
  color: #0F2656;
  line-height: 25px;
  font-size: 12px;
  font-weight: 300;

}

.right {
  width: 40%;
  margin-left: 15px;

}

.right h1{
  font-size: 40px;
  color: #0F2656;
}

/*Serivce-section*/

.service {
  width:70%;
  margin:50px auto;
  display: flex;
  justify-content: space-around;
  
}


.service-container {
  width: 30%;
  text-align: left;
}

.service-container:nth-child(1){
  background-color: #FDEBED;
}
.service-container:nth-child(2){
  background-color: #EBF9F4;
}
.service-container:nth-child(3){
  background-color: #FFF7E8;
}

.service-container img{
  width: 100%;
}

.service-content{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 45px;
}


.service-container h3{
  color: #0F2656;
  margin-bottom: 10px;
}

.service-container p{
  color: #0F2656;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

/*Footer-section*/

.footer{
  background-color: #008AFF;
  width: 100%;
  text-align: center;
 
  padding: 20px 0px;
  margin-top: 10px;

}

.footer p{
  color: #60C1FF;
  font-size: 12px;
}
.footer span{
  font-weight: bold;
  color: white;
  font-size: 16px;

}


/*End*/